/* ===========================  IMPORTS  =========================== */

@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* ===========================  ESTILOS GENERALES  =========================== */

* {
    font-family: 'Open Sans', sans-serif;
}

 :root {
    --primary: #0055a4;
    --second: #A31810;
    --third: #97A310;
    --fourth: #093157;
    --fifth: #505704;
    --white: #ffffff;
    --light_grey: #888888;
    --mid_grey: #555555;
    --dark_grey: #222222;
    --black: #000000;
}

.primary {
    color: var(--primary)
}

.second {
    color: var(--second)
}

.third {
    color: var(--third)
}

.fourth {
    color: var(--fourth)
}

.fifth {
    color: var(--fifth)
}

.white {
    color: var(--white)
}

.grey {
    color: var(--grey)
}

.black {
    color: var(--black)
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
}

 ::-webkit-scrollbar-track {
    background: var(--white);
}

h1, h2, h3, h4 {
    color: var(--fourth);
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.3;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    color: var(--light_grey);
    line-height: 2;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--primary);
}

strong {
    color: var(--second);
    font-weight: 700;
}

.subtitule {
    color: var(--second);
    font-weight: 900;
    font-size: 1.5rem;
}


/* ===========================  HEADER  =========================== */

nav {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    color: var(--primary);
}

.navbar {
    background-color: var(--white);
    border-radius: 45px;
    height: 90px;
    width: 95%;
    margin: 40px auto;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
    ;
}

nav a:hover {
    transform: rotateX(360deg);
    transition: transform 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.navbar>img {
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
    top: 15px;
    left: 40px;
}

.name_logo {
    width: 140px;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    top: 33px;
    left: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
}

.name_logo p {
    line-height: 1;
    margin-bottom: unset;
}

.cv {
    float: right;
}

.cv a {
    border: solid var(--fourth) 1px;
    border-radius: 40px;
    padding: 26px;
    top: 33px;
    right: 6px;
    vertical-align: middle;
    position: relative;
    color: var(--fourth);
}

.cv a:hover {
    background-color: var(--fourth);
    transition: background-color 0.4s ease-in;
}

.cv:hover a {
    color: var(--white);
    transition: color 0.4s ease-in;
}

nav ul {
    list-style-type: none;
    margin: 9px 0;
    padding: 0;
    float: right;
}

nav li {
    float: left;
    margin: 0 10px;
    text-transform: uppercase;
}

nav li:last-child {
    margin-right: 40px;
}

nav li a {
    display: block;
    padding: 26px 15px;
}

div#btn_mobile_menu {
    display: none;
}


/* ===========================  MAIN  =========================== */

main {
    position: relative;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 92px;
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
}

main:before {
    content: '';
    position: fixed;
    left: 45%;
    right: 92px;
    top: 0;
    height: 40px;
    background: var(--white);
    z-index: 13;
}

.photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
}

.photo_img {
    background-image: url("../assets/IMG_1263.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.content {
    margin-top: 80px;
    padding: 50px;
    max-width: calc(100% - 100px);
}

.photo img {
    width: 100%;
    visibility: hidden;
}


/* ===========================  FOOTER  =========================== */

footer {
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 92px;
    z-index: 99;
}

footer:before {
    content: '';
    position: absolute;
    bottom: -50vh;
    left: 0;
    width: 1px;
    height: 200vh;
    background: var(--light_grey);
}

.social a i {
    display: block;
    width: fit-content;
    margin: 20px auto 0;
    border: solid 1px var(--light_grey);
    padding: 20px;
    border-radius: 30px;
}

.fa-linkedin-in:before {
    font-size: 20px;
}

.social a i.fa-linkedin-in:hover {
    background-color: #0a66c280;
    transition: background-color 0.3s ease-in;
}

.social a i.fa-github:hover {
    background-color: #06273880;
    transition: background-color 0.3s ease-in;
}


/* ===========================  ESTILOS DE CADA PÃGINA  =========================== */


/* ===========================  INICIO  =========================== */

.content {
    width: 70%;
}


/* ===========================  SOBRE MI  =========================== */

#about .content li {
    margin-bottom: 10px;
    width: 50%;
    float: left;
}

#about .content ul li strong {
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
}

#about .bars {
    width: 42%;
    float: left;
    margin: 0 1em;
}

#about .bars h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 1em 0 0.2em;
    text-align: center;
}

#about .progress_bar {
    border: 1px solid var(--third);
    border-radius: 14px;
}

#about .progress_bar>div {
    background: var(--third);
    padding: 5px 0px;
    animation: progress_bar 2s;
}

@keyframes progress_bar {
    0% {
        width: 0;
    }
}

@keyframes progress_bar {
    0% {
        width: 0;
    }
}


/* ===========================  PORTFOLIO  =========================== */

.grid {
    display: flex;
    flex-wrap: wrap;
}

#portfolio .grid_element {
    width: 47%;
    float: left;
    margin-bottom: 10px;
}

#portfolio .grid_element:nth-child(even) {
    margin-left: 10px;
}

#portfolio .grid_element:nth-child(odd) {
    margin-right: 10px;
}

#portfolio .grid_element img {
    width: 95%;
    margin: auto;
    display: block;
}

#portfolio .grid_element h3 {
    text-align: center;
    margin: 1rem 0;
}

#portfolio .grid_element h3 a {
    padding: 5px 20px;
}

#portfolio figure img {
    visibility: hidden;
}

#portfolio .grid_element:hover .element {
    transform: scale(1.05);
    transition: all .5s;
}

#portfolio .figure {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(0.95);
    border: 1px solid var(--light_grey);
}

#portfolio .figure1 {
    background-image: url("../assets/portfolio/cadarma.png");
}

#portfolio .figure2 {
    background-image: url("../assets/portfolio/cevisa.png");
}

#portfolio .figure3 {
    background-image: url("../assets/portfolio/endovations.png");
}

#portfolio .figure4 {
    background-image: url("../assets/portfolio/inffusions.png");
}

.figure5 {
    background-image: url("../assets/portfolio/osjuan.png");
}

#portfolio .figure6 {
    background-image: url("../assets");
}


/* ===========================  CONTACTO  =========================== */

#contact .form, #contact .address {
    width: 46%;
    float: left;
    padding-right: 20px;
}

#contact .content div.address {
    padding-left: 20px;
    padding-right: 0;
}

#contact .content .contact_data {
    padding: 20px 30px;
    border: 1px solid var(--fourth);
    border-radius: 37px;
}

.form_div {
    padding: 15px;
    border: 1px solid var(--fourth);
    margin-bottom: 44px;
    border-radius: 36px;
}

label {
    background-color: var(--white);
    padding: 0 10px;
    position: relative;
    top: -24px;
    left: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
}

#contact input:focus, textarea:focus {
    outline: none;
}

.form_div.botton {
    display: flex;
    padding: 0;
    cursor: pointer;
}

.form_div input, .form_div textarea {
    position: relative;
    top: -9px;
    width: 90%;
    left: 12px;
    border: none;
    font-size: 0.8em;
    color: var(--fourth)
}

#contact input[type="submit"] {
    color: var(--fourth);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    background: none;
    position: unset;
    margin: 0 auto;
    padding: 24px;
    cursor: pointer;
}

#contact sup {
    color: var(--second);
    position: relative;
    top: -3px;
    left: 3px;
}

#contact .contact_data h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.4em;
}

#contact .contact_data h4 {
    color: var(--second);
    font-weight: 600;
    font-size: 0.85em;
    text-transform: uppercase;
}

#contact .contact_data ul {
    margin-top: 3em;
}

#contact .contact_data li {
    margin-bottom: 1.5em;
    font-size: 0.9em;
}

#contact .contact_data li:last-child {
    margin-bottom: 0.5em;
}

#contact .contact_data li strong {
    padding-right: 10px;
    text-transform: uppercase;
}

.oculto {
    display: none;
}


/* ===========================  RESPONSIVE  =========================== */

#mobile_menu {
    display: none;
}


/* ===========================  LAPTOP  =========================== */

@media screen and (max-width:1260px) {
    .content {
        width: 100%;
    }
    nav {
        font-size: 1.4vw;
    }
    .name_logo {
        top: 35px;
        left: 35px;
        width: 18vw;
    }
    .navbar>img {
        left: 20px;
    }
    .cv a {
        padding: 22.5px;
        top: 39px;
        right: 14px;
        font-size: 12px;
    }
    nav li {
        margin: 0 5px;
    }
    nav li a {
        padding: 30px 10px;
    }
    nav ul {
        margin: 10px 0;
    }
    #about .bars {
        margin: 0 0.5em;
    }
    #portfolio .grid_element {
        width: unset;
        float: left;
        margin-bottom: unset;
    }
    #portfolio .grid_element:nth-child(odd) {
        margin-right: unset;
    }
    #portfolio .grid_element:nth-child(even) {
        margin-left: unset;
    }
    #contact .form, #contact .address {
        width: 100%;
        padding-right: unset;
    }
    #contact .content div.address {
        padding-left: unset;
    }
}


/* ===========================  TABLET  =========================== */

@media screen and (max-width:768px) {
    nav {
        font-size: 2.5vw;
    }
    .navbar {
        border-radius: 0;
        height: 90px;
        width: 100vw;
        margin: 0;
    }
    .navbar>.cv, .navbar>ul {
        display: none;
    }
    .navbar>img {
        left: 20px;
    }
    .name_logo {
        left: 40px;
    }
    .open {
        display: block;
    }
    div#btn_mobile_menu {
        display: block;
    }
    #btn_mobile_menu {
        width: fit-content;
        float: right;
        position: relative;
        top: 14px;
        right: 20px;
    }
    #btn_mobile_menu img {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    #mobile_menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);
        text-align: center;
        margin-top: 30px;
        box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
    }
    #mobile_menu li {
        border-top: 1px solid var(--light_grey);
        width: 100%;
        margin: 0;
    }
    #mobile_menu.mobile, #btn_mobile_menu .mobile {
        display: block;
    }
    main {
        position: relative;
        margin-top: 90px;
        margin-left: 0;
        margin-right: 0;
        min-height: 0;
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    main:before {
        display: none;
    }
    .photo {
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        height: unset;
    }
    .photo img {
        visibility: unset;
        object-fit: none;
    }
    .photo_img {
        display: none;
    }
    .content {
        width: unset;
        margin-top: unset;
        padding: 30px;
        max-width: unset;
    }
    .content_bars {
        display: flex;
        justify-content: center;
    }
    footer {
        position: relative;
        bottom: 0px;
        right: unset;
        width: unset;
        z-index: unset;
        margin-top: 40px;
        border-top: 1px solid var(--light_grey);
    }
    .social a {
        position: relative;
        top: -30px;
    }
    .social {
        display: flex;
        justify-content: space-evenly;
    }
    .social a i {
        margin: 0;
        background-color: var(--white);
    }
}


/* ===========================  MOBILE  =========================== */

@media screen and (max-width:480px) {
    .name_logo {
        width: 40vw;
    }
    h1 {
        font-size: 2.5em;
    }
    .content_bars {
        flex-direction: column;
        margin-bottom: 50px;
    }
    #about .bars {
        width: 100%;
        float: unset;
        margin: unset;
    }
    #portfolio .grid_element {
        width: 100%;
        float: unset;
        margin-bottom: unset;
    }
    #portfolio .grid_element:nth-child(even) {
        margin-left: unset;
    }
    .photo img {
        height: unset;
        object-fit: unset;
    }
}